<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<header th:fragment="headerFrag">
    <div class="lang-bar">
        <a href="javascript:void(0);" onclick="changeLanguage('en');" class="a-icon">
            <img th:src="@{/images/icon/en-icon.png}" alt="EN" class="img-icon">
        </a>
        <a href="javascript:void(0);" onclick="changeLanguage('de');" class="a-icon">
            <img th:src="@{/images/icon/de-icon.png}" alt="DE" class="img-icon">
        </a>
        <a href="javascript:void(0);" onclick="changeLanguage('ua');" class="a-icon">
            <img th:src="@{/images/icon/ua-icon.png}" alt="UA" class="img-icon">
        </a>
        <a href="javascript:void(0);" onclick="changeLanguage('ru');" class="a-icon">
            <img th:src="@{/images/icon/ru-icon.png}" alt="RU" class="img-icon">
        </a>
    </div>
    <script>
        function changeLanguage(lang) {
            const url = new URL(window.location.href);
            url.searchParams.set('lang', lang);
            window.location.href = url.toString();
        }
    </script>
</header>
</body>
</html>