.mt-1 {
    margin-top: 1rem;
}

.mt-05 {
    margin-top: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-2rem {
    margin-top: 2rem;
}

.lang-bar {
    margin-top: 10px;
    margin-left: 10px;
}

.a-icon {
    margin-right: 8px;
}

.img-icon {
    width: 24px;
    height: auto;
}

.btn-w200 {
    width: 200px;
}

.btn-w100 {
    width: 100px;
}

/* Дополнительный класс для поля ввода ника (ширина 200px) */
.nick-input {
    width: 200px;
}

.symbol-button {
    width: 60px;
    text-align: center;
    cursor: pointer;
}

.symbol-button.selected {
    background-color: #48c774 !important;
    color: #fff;
}

.winner-line {
    position: relative;
    overflow: hidden;
    animation: highlightWin 0.8s forwards ease-in-out;
}

@keyframes highlightWin {
    0% {
        background-color: inherit;
    }
    100% {
        background-color: #cfffcb;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    width: 300px;
    margin: 100px auto;
    background: #fff;
    padding: 20px;
    text-align: center;
}

.modal-btn-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.board-mtop {
    margin-top: 20px;
}

.flex-row {
    display: flex;
}

.cell-60 {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    margin: 3px;
}

.box.cell-60 {
    padding: 0 !important;
    margin-bottom: 0 !important;
}