<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{game.title}">Local / Single Game</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<div th:replace="~{fragments/header :: headerFrag}"></div>

<div class="container">
    <section class="section">
        <h1 class="title" th:text="#{game.mainHeading}">
            Local / Single Game
        </h1>

        <p id="status" class="has-text-weight-bold"
           th:text="#{game.status}">
            Status:
        </p>

        <div id="scorePanel" class="mb-1" style="display:none;">
            <p>
                <span th:text="#{game.scorePlayer}">Your score:</span>
                <span id="scoreHuman">0</span>
            </p>
            <p>
                <span th:text="#{game.scoreAI}">AI score:</span>
                <span id="scoreAI">0</span>
            </p>
        </div>

        <div th:insert="~{fragments/board :: boardFrag}"></div>

        <br/>
        <button class="button btn-w200" id="restartBtn"
                onclick="restartLocal()"
                th:text="#{game.restart}">
            Restart
        </button>
        <a class="button btn-w200" href="/"
           th:text="#{game.goHome}">
            Back to Home
        </a>
    </section>
</div>
<div id="i18nLocalGame"
     th:attr="
       data-turn=#{game.turn},
       data-winner=#{game.winner},
       data-draw=#{game.draw},
       data-restart=#{game.restart}
     ">
</div>
<script th:src="@{/js/localGame.js}"></script>
</body>
</html>